body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
}

.card {
    width: 200px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 10px;
    text-align: center;
}

.card img {
    width: 100%;
    border-radius: 4px;
    margin-bottom: 10px;
}

.card h3 {
    font-size: 18px;
    margin: 0;
}

.card p {
    font-size: 14px;
    margin: 5px 0;
}
.addMovies {
    text-align: center;
    margin: 20px;
}

.addMovies a {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    background-color: #007BFF;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.addMovies a:hover {
    background-color: #0056b3;
}